$yellow: #E4AC04;
$light-yellow: #FCF4C6;
$green: #A3CF7C;
$pink: #FCCCCC;



$primary_color: #E4AC04;
$secondary_color: #FCF4C6;
$succes-color: #A3CF7C;
$warn-color: #FCCCCC;

$text-color: #000;
$background_color: #FFF;

body {
  color: $text-color;
  background-color: $background_color;
}
