$yellow: #E4AC04;
$light-yellow: #FCF4C6;
$green: #A3CF7C;
$pink: #FCCCCC;



$primary_color: #E4AC04;
$secondary_color: #FCF4C6;
$succes-color: #A3CF7C;
$warn-color: #FCCCCC;

$heading-color: rgba(0, 0, 0, 0.84);
$text-color: rgba(0, 0, 0, 0.54);
$background_color: #FFF;

body {
  color: $text-color;
  background-color: $background_color;
}

h1,h2,h3,h4,h5,h6 {
  color: $heading-color;
}
